@import url("./reset.css");
@import url("./variables.css");
body {
  color: var(--cor1);
}

header {
  background-color: var(--cor2);
  text-align: center;
  height: 100px;
  line-height: 100px;
}

header a {
  color: var(--cor3);
}

header .menu-icon {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 35px;
  height: 28px;
  display: block;
  background: var(--cor1);
}

header .menu-icon:before {
  content: "";
  display: block;
  margin: 5px auto;
  width: 80%;
  height: 4px;
  background: var(--cor3);
  box-shadow: 0 7px 0 0 var(--cor3), 0 15px 0 0 var(--cor3);
}

@media (min-width: 992px) {
  header .menu-icon {
    display: none;
  }
}

menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: var(--cor1);
  z-index: 1;
  padding: 15px 0;
  border: 7px solid var(--cor1);
  transform: translateX(-300px);
  transition: transform 0.3s linear;
}

menu.activeted {
  transform: translateX(0);
}

menu li a {
  color: var(--cor3);
  padding: 15px;
  display: block;
}

menu li a:hover {
  background-color: var(--cor2);
}

img.responsive {
  width: 100%;
  height: auto;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* grid */

.container {
  width: 100%;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.row {
  display: flex;
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
}

.col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
